.fondo{
    display: flex;
    justify-content: center;
    color: yellow;
    font-size: 31px;


}

#root{
    display: flex;
    justify-content: center;
    color: yellow;
    margin-top: 250px;
}

